body a:hover {
    text-decoration: none !important;
}

.scrollbarStyle::-webkit-scrollbar {
    width: 5px;
}

.scrollbarStyle::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 15px;
}

/* Clase para ocultar cosas */
.Oculto {
    display: none;
}

.enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0.5rem 2.5rem;
    background-color: #b71c1c;
}

.enlaces a {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.enlaces ion-icon {
    color: white;
    font-size: 1em;
    margin-right: 5px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1110;
}

.footer {
    width: 100%;
    font-size: 0.9em;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.redes {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.red-block {
    color: white;
    width: 33.33%;
    padding: 0.3rem 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.red-block:hover {
    color: white;
    text-decoration: none;
}

.facebook {
    background-color: rgb(59, 59, 187);
}

.instagram {
    background-color: rgb(184, 129, 28);
}

.youtube {
    background-color: rgb(194, 23, 23);
}

.design {
    color: white;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
}

/* Inputs*/
/* --- radio, checkbox --- */
[type="radio"],
[type="checkbox"] {
    position: absolute;
    opacity: 0;
    display: none;
    pointer-events: initial;
}

[type="radio"] + label,
[type="checkbox"] + label,
.exportExcel label {
    cursor: pointer;
    user-select: none;
}

.Check label,
.Radio label {
    color: #9e9e9e;
    padding: 5px 15px 5px 36px;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.Check label:hover,
.Radio label:hover {
    background: rgba(183, 28, 28, 0.4);
    color: white;
}

.Check label:hover:before,
.Radio label:hover:before {
    border: 1.5px solid white;
}

.Check label:before,
.Radio label:before {
    content: "";
    width: 12px;
    height: 12px;
    background: none;
    display: inline-block;
    border: 1.5px solid #b71c1c;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top: 7px;
    margin-top: 0.2rem;
    transition: all 0.3s ease;
}

.Check label:before {
    border-radius: 2px;
}

.Check input[type="checkbox"]:checked + label,
.Radio input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #b71c1c;
    border-radius: 15px;
    color: white;
}

.Check input[type="checkbox"]:checked + label:before,
.Radio input[type="radio"]:checked + label:before {
    display: none;
}

/* Engaño visual para cuando el checkbox está "Seleccionado" */

.reverseCheck label {
    color: white;
    padding: 5px 15px;
    display: inline-block;
    position: relative;
    border-radius: 15px;
    transition: all 0.3s ease;
    background: #b71c1c;
}

.reverseCheck input[type="checkbox"]:checked + label:hover {
    background: rgba(183, 28, 28, 0.4);
    color: white;
}

.reverseCheck input[type="checkbox"]:checked + label:hover:before {
    border: 1.5px solid white;
}

.reverseCheck label:before {
    content: "";
    width: 12px;
    height: 12px;
    background: none;
    display: none;
    border: 1.5px solid transparent;
    border-radius: 3px;
    position: absolute;
    left: 12px;
    top: 7px;
    transition: all 0.3s ease;
}

.reverseCheck input[type="checkbox"]:checked + label {
    padding: 5px 15px 5px 36px;
    background: none;
    border-radius: 3px;
    color: #9e9e9e;
}

.reverseCheck input[type="checkbox"]:checked + label:before {
    display: inline-block;
    border: 1.5px solid #b71c1c;
}

.btn-MC {
    background-color: #b71c1c;
    color: white;
}
.btn-MC:hover {
    background-color: #a71d1d;
    color: white;
}

/* FlexBox */
/*Row*/
.displayRowCC {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.displayRowSbC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.displayRowSaC {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.displayRowSaIni {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.displayRowSaEnd {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.displayRowSbIni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.displayRowSbEnd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.displayRowIniC {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.displayRowEndC {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
/*Column*/
.displayColCC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.displayColSbC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.displayColSbIni {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.displayColSbEnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.displayColIniC {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.displayColEndC {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.displayColSaIni {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.displayColSaC {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.displayColSaIni {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.displayColSaEnd {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    padding: 0;
    display: flex;
    width: 400%;
    border-bottom: 0.7rem solid #b71c1c;

    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-out;
}

.slider li {
    list-style: none;
    width: 100%;
}

.slider .sliderGuest {
    width: 100%;
    height: 35rem;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.slider .contenedor {
    position: relative;
    width: 100%;
    height: 35rem;
}

.slider .contenedor .imgCont {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider .contenedor .contenido {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(189, 186, 186, 0.644), rgba(0, 0, 0, 0.822));
    color: white;
    z-index: 5;
    bottom: 0;
}

.slider .contenedor .contenido .informacion {
    width: 50%;
    height: 80%;
    padding: 0.5rem;
}

.contenido .informacion .tituloC {
    font-size: 2.5em;
    width: 100%;
}

.contenido .informacion .subtituloC {
    font-size: 1.3em;
    border-bottom: 1px solid white;
    width: 100%;
}

.contenido .informacion .texto {
    font-size: 1em;
    width: 100%;
}

.contenido .informacion .creditos {
    width: 60%;
    margin-left: 40%;
}

.seccion {
    width: 100%;

    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tituloSeccionL {
    width: 50%;
    padding: 1rem;
    color: white;
    background-color: #b71c1c;
    font-size: 2.5em;
    border-radius: 0 15px 15px 0;
}

.separador {
    border: none;
    width: 50%;
    height: 0.1rem;
    background-color: rgb(148, 148, 148);
}

.tituloSeccionR {
    width: 50%;
    padding: 1rem;
    color: white;
    background-color: #b71c1c;
    font-size: 2.5em;
    border-radius: 15px 0 0 15px;
}

.biografia {
    width: 100%;
    padding: 1rem 18rem;
    text-align: justify;

    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.biografia img {
    width: 15rem;
    height: 20rem;
    margin-left: 2rem;
    border: 2px solid #b71c1c;
}

.tituloQuienes {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.contenedorMV {
    width: 100%;
    padding: 1rem 11rem;
    /* Flex */
    display: flex;
    flex-direction: row;
}

.mision p,
.vision p {
    text-align: justify;
}

.mision,
.vision {
    padding: 0 3rem;
}

.himno {
    width: 100%;

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.estrofa {
    width: 33.33%;
    padding: 1rem 6rem;
}

.tituloEstrofa {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 1.5rem;
}

.estrofa p {
    text-align: center;
    border-top: 1.5px solid #b71c1c;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

.Contacto {
    width: 100%;
    padding: 1rem 2rem;

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Contacto .mapa {
    width: 48%;
}

.Contacto .mapa iframe {
    width: 100%;
    height: 28rem;
}

.informacion {
    width: 100%;
    padding: 1rem 2rem;

    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn-footer {
    border-radius: 0 0 5px 5px !important;
    padding: 12px 20px !important;
    position: absolute;
    width: 100.5% !important;
    left: -1px;
    border-right: 2px solid #8f1313 !important;
    border-left: 2px solid #8f1313 !important;
    border-bottom: 2px solid #8f1313 !important;
}

.card {
    position: relative;
}

.containerMain {
    margin-bottom: 4rem;
}

.mt-6 {
    margin-top: 5rem;
}

.invMt-6 {
    margin-top: -5.5rem;
}

.imgEditPerfil {
    width: 200px;
    height: 200px;
}

input[type="file"]#newFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="newFile"] {
    font-size: 14px;
    color: black;
    border: 1px solid #b71c1c;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 40px !important;
    width: fit-content;
    text-align: center;
}

label[for="newFile"]:hover {
    font-size: 14px;
    color: white;
    border-radius: 15px;
    background-color: #b71c1c;
    border: 1px solid #971313;
}

.card-img-MC {
    position: absolute;
    width: 3rem;
    /*5*/
    height: 3rem;
    border-radius: 50%;
    top: -1.5rem;
    /*-2.5*/
    left: 0.5rem;
    transition: all linear 400ms;
}

.card-img-table {
    padding: 0.9rem 0 0 0;
    /*2rem*/
    width: 12rem;
    height: 100px;
    /*18*/
    transition: all linear 400ms;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
}

.card-img-table {
    width: 18rem;
    height: fit-content;
    padding: 0 0 0 0;
}

.card-img-table .card-img-MC {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    top: -2.5rem;
    left: 0.5rem;
}

.card-img-table .list-group-item {
    /* padding: 12px 20px; */
    height: 65px;
    overflow: hidden;
    transition: all linear 400ms;
    font-size: 13.5px;
}

.card-img-table .list-group {
    height: fit-content !important;
}

.card-img-table .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.cont-card-img-table {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 1rem;
}

.txtRol {
    font-size: 12px;
    color: blueviolet;
}

.actions {
    width: 100%;
    padding: 0.5rem;
}

.actions a {
    color: black;
    margin-left: 1rem;
}

.actions a:hover {
    color: #b71c1c;
}

.cont-links {
    width: 100%;
}

.txtDoc {
    color: brown;
    font-size: 12px;
}

.txtEst {
    color: goldenrod;
    font-size: 12px;
}

.txtOther {
    color: rgb(219, 221, 97);
    font-size: 12px;
}

.txtAcu {
    color: rgb(233, 121, 93);
    font-size: 12px;
}

.falseLink {
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;
}

.falseLink:hover {
    border: none;
    background: none;
    outline: none;
    color: #b71c1c;
}

.actions {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.actions form {
    margin-left: 1rem;
}

.actions a {
    margin-top: -0.9rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #b71c1c !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #b71c1c !important;
    border-color: #8d1414 !important;
}

.panel-control {
    width: 100%;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.panel-control .Pc-principal,
.panel-control .Pc-secundario {
    width: 100%;
}

.panel-control .Pc-principal {
    padding: 0 2rem;
}

.buscador {
    position: relative;
}

.input-buscador {
    width: 25rem;
    border-radius: 15px;
    padding: 0.1rem 0.5rem;
    font-size: 0.9em;
    transition: all linear 200ms;
}

.input-buscador:focus {
    outline: none;
    padding: 0.1rem 0.5rem;
}

.input-buscador:focus ~ .icon-buscador a {
    color: #b71c1c !important;
}

.icon-buscador {
    position: absolute;
    right: 0;
}

.icon-buscador a {
    color: #000;
    transition: all linear 200ms;
}

.icon-buscador a:hover {
    color: #000;
}

.icon-buscador a ion-icon {
    font-size: 2em;
}

.add-icon {
    font-size: 1.3em;
    color: #000;
}

.add-icon:hover {
    font-size: 1.3em;
    color: #b71c1c;
}

.panel-control .PC-secundario {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.panel-control .PC-secundario .PC-button {
    padding: 0.3rem 1rem;
    color: #fff;
    width: 16.66%;
    font-size: 0.9em;
}

.panel-control .PC-secundario .PC-button ion-icon,
.panel-control .PC-secundario .PC-button .fas {
    margin-right: 0.5rem;
}

.excel {
    background-color: #67cb99;
}

.importExcel {
    background-color: #67bfcb;
}

.templateExcel {
    background-color: #f0e338;
}

.filter {
    background-color: #c4c4c4;
}

.graphic {
    background-color: #d68a8a;
}

.restore {
    background-color: #da9e6e;
}

.excel:hover {
    background-color: #5db88a;
}

.importExcel:hover {
    background-color: #5aa8b3;
}

.templateExcel:hover {
    background-color: #e7da27;
}

.filter:hover {
    background-color: #b1adad;
}

.graphic:hover {
    background-color: #c57373;
}

.restore:hover {
    background-color: #cc8b55;
}

.modal-footer {
    padding: 0 !important;
}

.containerMain .card-header {
    border: none !important;
}

#contenedor_carga {
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    z-index: 10000;
}

#carga {
    border: 10px solid #ccc;
    border-top-color: #b71c1c;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}

#carga img {
    width: 5rem;
    height: 3rem;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.a-option {
    color: black;
}
.a-option:hover {
    color:#b71c1c;
}
